body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Iceland', 'Times New Roman', Times, serif;
  font-weight: normal;
  font-style: normal;
  z-index: 0;
  background-color: #394b59;
  color: #edf0f2;
}

button:focus {
  outline: none;
  background-color: #394b59;
}

button:active {
  outline: none;
  background-color: #394b59;
}

.logo {
  display: flex;
  justify-content: center;
  font-weight: 400;
  width: 30%;
}

.logo-text {
  font-size: 25px;
  margin: 0.2px;
  color: #394b59;
}

input[type='email']:focus {
  outline: none;
  background-color: #394b59;
}

input[type='password']:focus {
  outline: none;
  background-color: #394b59;
}

button:disabled {
  background-color: #394b5920;
}

.card-button:hover {
  background-color: #394b59;
}

#room-card {
  width: 20%;
  height: 26.5%;
  background-color: #edf0f2c1;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.3);
  margin: 12px;
  opacity: 0.98;
}

.particles-js {
  width: 110%;
  height: 110%;
  position: absolute;
  background-size: cover;
  z-index: -1;
  right: 0;
  bottom: 0;
  background-color: #394b59;
}

#logo-text {
  position: relative;
  right: 150px;
  top: 10px;
}

#landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  text-align: center;
  font-size: 40px;
  font-family: 'Iceland', cursive;
  background-color: #3b444b;
  opacity: 1;
}

#landing-content {
  position: relative;
  display: flex;
  justify-content: center;
}

#logo-text {
  position: relative;
  right: 150px;
  top: 10px;
}

#view-text {
  font-size: 32px;
  width: 20%;
  height: 10%;
  margin: 10px;
}

#user-home {
  display: flex;
  align-items: center;
}

@keyframes fadein {
  0% {
    box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.3);
  }
}
