#view-container {
  /* margin-left: 2.25%;
  width: 90vw;
  width: 90vw;
  height: 95vh;
  height: 100%; */
  background-color: #0e111192;
  opacity: 1;
  background-image: url('https://www.transparenttextures.com/patterns/absurdity.png');
  /* opacity: 0.98; */
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex: 10;
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; */
  #top-bar {
    display: flex;
    flex-grow: 1;
    height: 4vh;
    margin-bottom: 2px;
    select {
      display: flex;
      justify-content: center;
      padding-left: 5px;
      font-size: 16px;
      align-items: center;
      background-color: rgb(61, 67, 68);
      color: #edf0f2;
      // background-image: url('https://www.transparenttextures.com/patterns/absurdity.png');
      color: white;
      border: none;
      width: 18%;
      -webkit-border-radius: 0px;
      border-radius: 0px;
    }
    select:hover {
      background-color: #394b59;
    }
    select:active {
      border: none;
    }

    #room-tickers {
      width: 100%;
      display: flex;
      .room-ticker {
        background-color: #394b59;
        opacity: 0.95;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1px;
        margin-right: 1px;
      }
      .room-ticker:hover {
        opacity: 1;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }

  #middle-bar {
    display: flex;
    flex-grow: 1;
    height: 63vh;
    margin-top: 2px;

    #leader-board-tv {
      display: flex;
      width: 28.6%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      margin-right: 2px;
      margin-left: 2px;
      #leader-board {
        display: flex;
        height: 80vh;
        width: 100%;
        overflow-y: scroll;
        flex-direction: column;
        background-color: #0e111192;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 2px;
        margin-bottom: 2px;
        margin-left: 2px;
        p {
          padding-left: 12px;
          padding-right: 12px;
        }
        #leader-board-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 40px;
          width: 100%;
          // p {
          //   padding-left: 12px;
          //   padding-right: 12px;
          // }
          justify-content: space-between;
          // align-items: space-between;
        }
      }
      #tv {
        span {
          width: 100%;
          height: 100%;
        }
        display: flex;
        height: 100%;
        width: 100%;
      }
    }

    #room-charts {
      display: flex;
      width: 50%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      margin-right: 2px;
      background-color: #0e111192;
      .chart-buttons {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        margin-right: 5px;
        height: 5%;
        button {
          // width: 20%;
          background-color: rgb(61, 67, 68);
          color: #edf0f2;
          border: none;
          width: 80px;
          padding: 10px;
          margin: 2px;
          font-size: 12px;
        }
        button:active {
          background-color: #394b59;
        }
        button:hover {
          background-color: #394b59;
        }
      }

      #top-chart {
        display: flex;
        width: 100%;
        height: 60%;
        flex-direction: column;
        #line-chart {
          height: 100%;
          width: 100%;
          align-items: center;
        }
      }
      #bottom-chart {
        display: flex;
        width: 100%;
        height: 40%;
        flex-direction: column;
        flex-grow: 1;
        #bar-chart {
          height: 100%;
          width: 100%;
          background-color: #394b59;
          align-items: center;
        }
      }
    }

    #personal-board {
      display: flex;
      width: 40%;
      height: 100%;
      flex-direction: column;
      justify-content: stretch;
      #portfolio-text {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;
        width: 50%;
        min-width: 50%;
        height: 100%;
        min-height: 100%;
        padding-right: 10%;
        font-size: 15px;
        max-height: 100%;
      }
      #pie {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
      }
      #portfolio {
        // div {
        //   display: flex;
        //   min-width: 40%;
        //   min-height: 100%;
        //   height: 100%;
        //   width: 40%;
        // }
        display: flex;
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        min-width: 50%;
        min-height: 50%;
        flex-direction: row;
        #portfolio-heading {
          background-color: #656a6d54;
        }
        .portfolio-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          position: relative;
          width: 100%;
          min-height: 10px;
          height: 10%;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 10px;
          padding-left: 10px;
          // margin-bottom: 10px;
          background-color: #394b5920;
        }

        // background-color: #394b59;
        justify-content: center;
        align-items: center;
        background-color: #0e111192;
        margin-top: 2px;
      }

      #buy-sell {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        background-color: #0e111192;
        justify-content: center;
        align-items: center;
        #symbol {
          padding-left: 30px;
          font-size: 30px;
        }
      }
    }
  }

  #bottom-bar {
    display: flex;
    flex-grow: 1;
    height: 33vh;

    #chat {
      display: flex;
      width: 31.8%;
      height: 100%;
      max-height: 100%;
      margin-right: 2px;
      margin-left: 2px;
      padding-bottom: 2px;
      justify-content: center;
      align-items: center;
      background-color: #0e111192;
      // overflow-y: scroll;
      .chat-messages {
        display: 'column';
        width: '90%';
        height: '90%';
        min-height: '90%';
        max-height: '90%';
        overflow-y: scroll;
      }
      .message {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        width: 98%;
        min-height: 10px;
        height: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 10px;
        :hover {
          background-color: #656a6d54;
        }
        b {
          font-size: 12px;
          color: white;
          text-decoration: none;
          text-align: 'center';
        }
      }
      .chat-input {
        display: flex;
        height: 10%;
      }

      input {
        width: 80%;
        background-color: rgb(61, 67, 68);
        color: #edf0f2;
        border: none;
        margin-right: 2px;
      }

      input:focus {
        outline: none;
        background-color: #394b59;
      }
      button {
        width: 20%;
        background-color: rgb(61, 67, 68);
        color: #edf0f2;
        border: none;
      }
      button:active {
        background-color: #394b59;
      }
      button:hover {
        background-color: #394b59;
      }
    }
    #news {
      width: 100%;
      background-color: #0e111192;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2px;
      overflow-y: scroll;
      padding-top: 10px;
      div.article:hover {
        background-color: #656a6d54;
      }
      #news-heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 98%;
        min-height: 20px !important;
        height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        background-color: #656a6d54;
        size: 30px;
        margin-bottom: 10px;
      }
      .article {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 98%;
        min-height: 10px;
        height: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 10px;
        :hover {
          background-color: #656a6d54;
        }
        a {
          color: white;
          text-decoration: none;
          text-align: 'center';
        }
      }
      .article b {
        color: white;
        text-align: 'center';
        padding-right: 15px;
      }
    }
  }
}

.rv-xy-plot__axis__tick__text {
  fill: white;
}

.rv-sunburst__series--radial__arc:hover {
  stroke: black !important;
  stroke-width: 2px !important;
}

.rv-xy-plot__series--label-text {
  fill: white !important;
}

/* .rv-xy-plot__series .rv-xy-plot__series--arc-path */
.rv-sunburst__series--radial__arc:hover {
  fill: #edf0f2 !important;
  background-color: black;
}

.trade-buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
  size: 18px;
}

.trade-button {
  width: 100%;
  height: 200%;
  padding: 5%;
  border: none;
  margin-top: 4px;
  background-color: rgb(61, 67, 68);
  color: #edf0f2;
  font-size: 13px;
}

.trade-select {
  width: 100%;
  background-color: rgb(61, 67, 68);
  color: #edf0f2;
  font-size: 13px;
  margin-left: 5px;
}

.trade-button:hover {
  outline: none;
  background-color: #394b59;
}

.trade-button button:focus {
  outline: none;
  background-color: #394b59;
}

.trade-button button:active {
  outline: none;
  background-color: #394b59;
}

.trade-input {
  border: none;
  font-size: 14px;
  background-color: rgb(61, 67, 68);
  color: #edf0f2;
  padding: 3%;
  width: 100%;
}

// .trade-input-text {
//   width: 100%;
//   margin-bottom: 5px;
// }

.selection {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 12vw;
}

.trade-info-text {
  text-align: center;
  width: 100%;
}
