.form-wrapper {
  background-color: #0e111192;
  position: absolute;
  border-radius: 25px;
  height: 70%;
  width: 70%;
  top: 13vh;
  left: 12vw;
  opacity: 1;
  background-image: url(https://www.transparenttextures.com/patterns/absurdity.png)
}
.form-div {
  background: #f9f9f9;
  padding: 30px 30px;
  position: fixed;
  border-radius: 25px;
  top: 47%;
  left: 48%;
  transform: translate(-50%, -50%);
}
