nav {
  // position: fixed;
  // right: 0;
  // left: 0;
  // top: 0;
  // height: 100vh;
  // width: 80px;
  width: 4%;
  min-width: 3%;
  // background-color: #3d4344;
  background-color: rgba(101, 106, 109, 0.8);
  opacity: 0.98;
  background-image: url('https://www.transparenttextures.com/patterns/absurdity.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.3);
}

#app {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
}

// #app > * {
//   flex-grow: 1;
// }

.nav-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
  width: 94%;
  height: 20%;
}

.nav-button {
  width: 98%;
  height: 50px;
  background-color: #394b59;
  color: #edf0f2;
  font-size: 10px;
  border: none;
}

.nav-button:hover {
  background-color: rgb(61, 67, 68);
}

#nav-logo:hover .box {
  animation: rise 3s infinite;
}

#nav-buttons {
  display: flex;
  flex-direction: column;
  height: 50%;
  align-items: center;
}

#nav-logo {
  width: 90%;
}

#nav-logo:hover {
  animation: rise 2s infinite;
}

#top-box {
  position: relative;
  animation-delay: 0s;
  width: 80%;
}

#middle-box {
  position: relative;
  animation-delay: 1s;
  width: 80%;
  bottom: 45px;
}

#bottom-box {
  position: relative;
  animation-delay: 2s;
  width: 80%;
  bottom: 84px;
  left: 3px;
}

@keyframes rise {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -8px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
